ul {
 list-style-type: none;
}

.table {
    border: 1px solid black;
    padding: 5px;
    width: auto;
    text-align: center;
    display: inline-block;
}

.center {
    text-align: center;
}

h1, h2 {
    padding-bottom: 5px;
}

.jumbotron > h1 {
    font-size: 40px;

}

.jumbotron p {
    font-size: 14px;
}

div.jumbotron.container > div.table > h2 {
    text-align: center;
}

div.jumbotron.container > div.table > div.table {
    width: 250px;
    margin: 20px auto;
}

div.jumbotron.container > div.table > div.table > ul > li {
    margin-left:-40px ;
    background-color: aquamarine;
    padding: 5px;
    border: 0.5px solid black;
    margin-top: 2.5px;
}

div.jumbotron > div.table > div.table > h4 {
    background-color: cornflowerblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

div.jumbotron > div.table > div.table > h5 {
    background-color: yellow;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
}

li > a.nav-link.navli {
    color: aliceblue;
}


.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}