{% extends "beer_tracker/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="jumbotron">
    <h1>Welcome to Beer API</h1>
    <h2>To get Started please Register or Login.</h2>
</div>

<div class="container">
    <h1>Login</h1>
    <form action="{% url 'beer_tracker:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password</label>
        <input type="password" name="password">

        <input type="submit" value="Login" class="btn btn-primary">
    </form>


    <h1>Register</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register" class="btn btn-primary">
    </form>


</div>

{% endblock %}